@{
    ViewData["Title"] = "Survey Page";
}

<h1>
    Welcome to survey
</h1>

<div class="row wrap my-style-test">
    <div class="col-lg-12">

        <div id='progress'>
            <div id='progress-complete'></div>
        </div>

        <form id="CarSurveyForm" action="" style="display:none">
            <fieldset>
                <legend>User information</legend>
                <div class="form-group">
                    <label for="Age">Age</label>
                    <input id="Age" name="Age" type="number" min="1" max="100" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="Gender">Gender</label>
                    <div id="genderDropdown"></div>
                </div>
            </fieldset>

            <fieldset>
                <legend>Driving License</legend>
                <div class="form-group">
                    <label for="drivingLicenseRadio">Do you own a driving license?</label>
                    <div class="container-radio">
                        <label class="me-3">
                            <input type="radio" value="Yes" name="drivingLicenseRadio">
                            Yes
                        </label>
                        <label>
                            <input type="radio" value="No" name="drivingLicenseRadio">
                            No, I prefer using other transport
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>First Car</legend>
                <div class="form-group">
                    <label for="firstCarRadio">Is this your first car?</label>
                    <div class="container-radio">
                        <label class="me-3">
                            <input type="radio" value="Yes" name="firstCarRadio">
                            Yes
                        </label>
                        <label>
                            <input type="radio" value="No" name="firstCarRadio">
                            No
                        </label>
                    </div>
                </div>
            </fieldset>

            <fieldset class="form-horizontal" role="form">
                <legend>Car Models</legend>
                <div class="form-group">
                    <label for="selectDriveTrain">Which drivetrain do you prefer?</label>
                    <div id="driveTrainDropdown">
                        <select id="selectDriveTrain" name="driveTrain" class="form-control">
                            <option value="FWD">FWD</option>
                            <option value="RWD">RWD</option>
                            <option value="DontKnow">I Don't Know</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fuelEmissionsRadio">Are you worried about fuel emissions?</label>
                    <div class="container-radio">
                        <label class="me-3">
                            <input type="radio" value="Yes" name="fuelEmissionsRadio">
                            Yes
                        </label>
                        <label>
                            <input type="radio" value="No" name="fuelEmissionsRadio">
                            No
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="carsCount">How many cars do you have in your family?</label>
                    <input id="carsCount" name="carsCount" type="number" min="0" max="10" class="form-control" required />
                </div>
                <div id="carMakeForm"></div>
            </fieldset>
            <p>
                <button id="SubmitBtn" class="btn btn-primary submit">Submit form</button>
            </p>
        </form>

    </div>
</div>

@section Scripts
{
    <script>
        MYAPP.surveyForm.InitializeSurveyForm()
    </script>
}
