@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div class="flex-item" onclick="GoToSurveyPage()">
        Take Survey
    </div>
    <div class="flex-item">Show statistics</div>
</div>

@section Scripts
{
    <script src="~/js/index.js"></script>
}
