@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div class="flex-item card" onclick="MYAPP.appRouteFunctions.GoToSurveyPage()">
        Take Survey
    </div>
    <div class="flex-item card" onclick="MYAPP.appRouteFunctions.GoToStatisticsPage()">Show statistics</div>
</div>
