@{
    ViewData["Title"] = "Survey Statistics";
}

<div class="container">
    <h2>Survey Statistics</h2>
    <canvas id="respondentsCount" width="100" height="100"></canvas>

</div>

@section Scripts {
    <script>
        MYAPP.statisticsPage.InitializePage()
    </script>
}
